* @UniPro-tech/Web
*.md @UniPro-tech/BoardMember
.github/ @UniPro-tech/github
argoCD/ @UniPro-tech/Kubernetes
.dockerignore @UniPro-tech/Kubernetes
Docker @UniPro-tech/Kubernetes
LICENSE @UniPro-tech/BoardMember
pulic/ @UniPro-tech/BoardMember
